<footer>
  <div class="footer-bar">
    <!--
    <ul class="footer-links" >
      <li>
        <a class="heading" href="index.html">Projects:</a>
        <a href="index.html"><p>OPNsense Firewall</p></a>
        <a href="index.html"><p>Ollama / Open WebUI</p></a>
        <a href="index.html"><p>VPS Reverse Proxy</p></a>
        <a href="index.html"><p>Much More</p></a>
      </li>

      <li>
        <a class="heading" href="index.html">About:</a>
        <a href="index.html"><p>Myself</p></a>
        <a href="index.html"><p>Resume</p></a>
        <a href="index.html"><p>My Site</p></a>
      </li>

      <li>
        <a class="heading" href="index.html">Blog:</a>
        <a href="index.html"><p>Latest</p></a>
        <a href="index.html"><p>Most Popular</p></a>

      </li>

      <li>
        <a class="heading" href="index.html">Contact:</a>
        <p>Email: ryanvemulapalli@gmail.com</p>
        <p>Phone: (647) - 700 - 8784</p>
        <p>Location: Oakville, Ontario, Canada</p>
      </li>
    </ul>
    -->


    <!--
    <div class="footer-right">
      <div class="footer-icon">
        <a href="index.html">
          <h1>Ryan Vemulapalli</h1>
        </a>
      </div>

      <div class="social-icon">
        <a href="index.html"><img src="../assets/icons/project-icon-orange.png"></img></a>
        <a href="index.html"><img src="../assets/icons/about-icon-blue.png"></img></a>
        <a class="github-icon" href="https://github.com/RyanVem"><img src="../assets/icons/github-icon.png"></img></a>
        <a class="test-icon" href="https://www.linkedin.com/in/ryan-vemulapalli/"><img src="../assets/icons/linkedin-icon.webp"></img></a>
      </div>
    </div>
    -->

    <div class="footer-content">

      <div class="footer-headings">

        <ul>
          <li>
            <h2>Projects</h2>
          </li>
          <li>
            <h2>About</h2>
          </li>
          <li>
            <h2>Blog</h2>
          </li>
          <li>
            <h2>Contact</h2>
          </li>
        </ul>
  
        <ul class="ul-img">
          <li>
            <img src="../assets/icons/dropdown-icon.png"></img>
          </li>
          <li>
            <img src="../assets/icons/dropdown-icon.png"></img>
          </li>
          <li>
            <img src="../assets/icons/dropdown-icon.png"></img>
          </li>
          <li>
            <img src="../assets/icons/dropdown-icon.png"></img>
          </li>
        </ul>

      </div>

      <div class="breakout-menu">
        <h1>Hello World Hello World Hello World Hello World</h1>
      </div>

    </div>

  </div>
</footer>