<footer>
  <div class="footer-bar">
    <div class="footer-elements">
      <div class="footer-icon">
        <a href="index.html">
          <h1>Ryan Vemulapalli</h1>
        </a>
      </div>

      <hr>

      <div class="footer-nav">
        <ul>
          <li class="projects">
            <a href="/pages/projects.html"><h2>Projects:</h2></a>
          </li>
          <li>
            <a href="index.html"><h4>Local LLMs</h4></a>
          </li>
          <li>
            <a href="index.html"><h4>AD/SCCM Tool</h4></a>
          </li>
          <li>
            <a href="index.html"><h4>View More</h4></a>
          </li>
        </ul>
        
        <ul>
          <li class="about">
            <a href="index.html"><h2>About:</h2></a>
          </li>
          <li>
            <a href="index.html"><h4>Myself</h4></a>
          </li>
          <li>
            <a href="index.html"><h4>This Site</h4></a>
          </li>
        </ul>

        <ul>
          <li class="blog">
            <a href="index.html"><h2>Blog:</h2></a>
          </li>
          <li>
            <a href="index.html"><h4>Latest</h4></a>
          </li>
          <li>
            <a href="index.html"><h4>Most Popular</h4></a>
          </li>
          <li>
            <a href="index.html"><h4>View More</h4></a>
          </li>
        </ul>

        <ul>
          <li class="contact">
            <a href="index.html"><h2>Contact:</h2></a>
          </li>
          <li>
            <a href="tel:6477008784"><h4>Phone</h4></a>
          </li>
          <li>
            <a href="mailto:ryanvemulapalli@gmail.com"><h4>Email</h4></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/ryan-vemulapalli/"><h4>Linkedin</h4></a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="footer-social">
      <div class="social-icons">
        <a href="tel:6477008784"><img src="../assets/icons/phone-icon.png"></img></a>
        <a href="mailto:ryanvemulapalli@gmail.com"><img src="../assets/icons/email-icon.png"></img></a>
        <a href="https://github.com/RyanVem"><img src="../assets/icons/github-icon.png"></img></a>
        <a href="https://www.linkedin.com/in/ryan-vemulapalli/"><img src="../assets/icons/linkedin-icon.webp"></img></a>
      </div>
  </div>
</footer>