<header>
  <div class="nav-bar">

    <div class="nav-icon">
      <a href="index.html">
        <h1>Ryan Vemulapalli</h1>
      </a>
    </div>

    <ul class="nav-links" >
      <li><a href="index.html">Projects</a></li>
      <li><a href="index.html">About</a></li>
      <li><a href="index.html">Blog</a></li>
      <li class="border-link"><a href="index.html">Contact</a></li>
    </ul>

    <button class="burger-button" onclick="toggleBurgerMenu()">
      &#9776;
    </button>
  
  </div>

  <div class="burger-menu js-burger-menu">
    <!--<ul class="burger-elements">
      <li class="link-rows">
        <img src="../assets/icons/server-icon.png" class="server-icon"></img>
        <a href="index.html">Projects</a>
      </li>

      <li class="link-rows">
        <img src="../assets/icons/about-icon.png" class="about-icon"></img>
        <a href="index.html">About</a>
      </li>

      <li class="link-rows">
        <img src="../assets/icons/blog-icon.png" class="blog-icon"></img>
        <a href="index.html">Blog</a>
      </li>

      <li class="link-rows">
        <img src="../assets/icons/contact-icon.png" class="contact-icon"></img>
        <a href="index.html">Contact</a>
      </li>
    </ul>-->

    <!--<ul class="burger-links">
      <li><a href="index.html">Projects</a></li>
      <li><a href="index.html">About</a></li>
      <li><a href="index.html">Blog</a></li>
      <li><a href="index.html">Contact</a></li>
    </ul>-->

    <div class="burger-icons">
      <img src="../assets/icons/project-icon-orange.png"></img>
      <img src="../assets/icons/about-icon-blue.png"></img>
      <img src="../assets/icons/blog-icon-green.png"></img>
      <img src="../assets/icons/contact-icon-yellow.png"></img>
    </div>

    <div class="burger-links">
      <div class="project-link"><a href="index.html">Projects</a></div>
      <div class="about-link"><a href="index.html">About</a></div>
      <div class="blog-link"><a href="index.html">Blog</a></div>
      <div class="contact-link"><a href="index.html">Contact</a></div>
    </div>

  </div>
  
</header>