body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(223, 223, 223);
  background-color: rgb(223, 223, 223);
  margin: 0;
}

.eye-catch {
  color: rgb(43, 42, 42);
  background-color: rgb(41, 63, 70);

  padding: 50px;
}
.eye-catch {
  margin: 0px;
}